body {
  margin: 0;
  padding: 0;
  font-family: Papyrus;
  font-size: x-large;
  font-weight: 500;
  background-image: url("https://www.incimages.com/uploaded_files/image/970x450/getty_623425276_351576.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: 120%;
  background-attachment: fixed; 
}

.DeleteButton{
  position: relative;
  float : center;
  left: 10px;
}

.SubmitButton{
  position: relative;
  left: 10px;
}